# Auto detect text files and perform LF normalization
* text=auto
.vs/ filter=lfs diff=lfs merge=lfs -text
_Ejecutable/ filter=lfs diff=lfs merge=lfs -text
webgl_cache/ filter=lfs diff=lfs merge=lfs -text
*.unity3d filter=lfs diff=lfs merge=lfs -text
*.symbols filter=lfs diff=lfs merge=lfs -text
*.bc filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
